body
{
    background-color: rgb(36, 53, 63);
}
h1
{
    color: rgb(23, 162, 184);
    padding-top: 20px;
    text-align: center;
}
.login
{
    width: 65%;
    box-shadow:  -5px 2px 54px -9px rgb(0, 0, 0);
    background-color: rgb(36, 53, 63);
}
h6
{
    font-size: 14px;
}
h5
{
    color: red;
    padding-top: 10px;
    font-size: 15px;
}
